body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f8f8;
}


header {
    background-color: white;
    box-shadow: 0 4px 2px -2px gray;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    display: flex;
}

.nav-links li a {
    text-decoration: none;
    color: #2d314d;
    font-weight: 400;
}

.btn {
    background-color: #31d35c;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
}

.btn:hover {
    background-color: #2bb54a;
}


.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 100px;
    background-color: #f3f4f6;
}

.hero-text {
    max-width: 50%;
}

.hero-text h1 {
    font-size: 3rem;
    color: #2d314d;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1rem;
    color: #6b7280;
    margin-bottom: 20px;
}

.hero-image img {
    max-width: 100%;
}


.features {
    text-align: center;
    padding: 100px 100px;
}

.features h2 {
    color: #2d314d;
    font-size: 2.5rem;
}

.features p {
    color: #6b7280;
    font-size: 1rem;
    max-width: 600px;
    margin: 20px auto;
}

.feature-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    gap: 10px;
}

.feature-card {
    padding: 30px;
    border-radius: 15px;
    max-width: 22%;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: left;
}

.feature-card img {
    margin-bottom: 20px;
}

.feature-card h3 {
    font-size: 1.25rem;
    color: #2d314d;
    margin-bottom: 10px;
}

.feature-card p {
    color: #6b7280;
}


.articles {
    padding: 100px 100px;
    background-color: #f3f4f6;
}

.articles h2 {
    color: #2d314d;
    font-size: 2.5rem;
    text-align: center;
}

.article-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.article-card {
    background-color: white;
    max-width: 22%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.article-card img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: auto;
}

.article-content {
    padding: 20px;
}

.article-content p {
    color: #6b7280;
    font-size: 0.875rem;
    margin-bottom: 10px;
}

.article-content h3 {
    font-size: 1.25rem;
    color: #2d314d;
    margin-bottom: 10px;
}


footer {
    background-color: #2d314d;
    padding: 50px 100px;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-logo img {
    max-width: 150px;
}

.social-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.social-links li img {
    width: 20px;
    height: 20px;
}

.footer-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer-links li a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

footer p {
    margin-top: 20px;
    font-size: 0.8rem;
}